@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

body {
    margin: 0;
    background: rgb(111, 0, 255);
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Sansita Swashed', cursive;
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }